.card {
  width: 400px;
  margin-top: 50px;
}

.card-image {
  width: 400px;
  height: 400px;
}

.card-info {
  background-color: rgb(233, 233, 233);
  padding: 30px;
  height: 300px;
  overflow: scroll;
}

.card-name {
  margin-bottom: 20px;
}

.card-button {
  width: 190px;
  height: 40px;
  transition: .3s ;
}

.card-button:hover {
  background-color: rgb(147, 220, 233);
  cursor: pointer;
}
