.header {
  display: flex;
  height: 90px;
  background-color: rgb(233, 233, 233);
  z-index: 100;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-item {
  margin: 0 30px;
}

a {
  text-decoration: none;
  color: black;
}

.header-button {
  position: absolute;
  width: 150px;
  left: 75%;
  padding: 10px;
  background: rgb(175, 175, 175);
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .header {
    width: 100%;
    margin-bottom: 12px;
  }
  .header-button {
    left: 30%;
    top: 12%;
  }
}
